header {
  margin-bottom: 25px;
  .logo {
    img {
      width: 25%;
    }
  }

  .navigation {
    padding-top: 25px;
  }

  .tools {
    padding-top: 25px;

    .pi {
      margin-right: 10%;
    }
  }
}
